$font-dm-serif:'DM Serif Display',
serif; //HEADINGS
$font-karla:'Karla',
sans-serif; //BODY

$color-violet:hsl(256, 26%, 20%);
$color-grayish-blue: hsl(216, 30%, 68%);
$color-dark-violet:hsl(270, 9%, 17%);
$color-grayish-violet:hsl(273, 4%, 51%);
$color-light-gray:hsl(0, 0%, 98%);

$smScreen:576px;
$mdScreen:768px;
$lgScreen:992px;